:root {
  --code-font-size: var(--gap-6);
  --code-padding-y: var(--gap-2);
  --code-border-radius: 0;
  --headings-color: var(--fuchsia);
  --p-margin: var(--space-1);
  --state-primary: var(--grape);
}

* {
  font-size: 16px;
}

.code {
  border-left: var(--gap-2) solid;
  border-color: var(--violet);
}

nav {
  padding: var(--gap-5) 0;
}

nav a{
  /* font-size: var(--space-2); */
}

nav a:hover{
  /* color: white; */
}

a.is-active {
  font-weight: bold;
}
